{   
    "core_network":
    {
        "cta": {
            "ip": "", 
            "username": "", 
            "password": "",
            "root_dir": ""
        },
        "local_cpf": {
            "ip": "", 
            "username": "", 
            "password": "",
            "root_dir": ""
        },
        "remote_cpf": {
            "ip": "", 
            "username": "", 
            "password": "",
            "root_dir": ""
        }
    },
    "pktgen": 
    {
        "public_key_path": "", 
        "root_dir": ""
    }   
}